
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'login/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'login/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

    <title>Sign Up </title>
  </head>
  <body style="margin:0;height:100vh;display:flex;justify-content:center;align-items:center;background: linear-gradient(to right, #a8edea, #fed6e3);">


  <div class="d-md-flex half">
    <div class="bg" style="background-image: url('{% static 'login/images/bg_1.jpg' %}');"></div>
    <div class="contents">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="form-block mx-auto"  style="background:#fff;padding:30px;width:350px;border-radius:12px;box-shadow:0 5px 20px rgba(0,0,0,0.2);">
              <div class="text-center mb-5">
              <h3 style="margin-bottom:20px; font-weight:600;">Sign Up</h3>
              </div>
              <form action="{% url 'save_registration' %}" method="post">
                  {% csrf_token %}
                 <div class="form-group first">
                  <label >Username</label>
                  <input type="text" class="form-control" placeholder="username" name="Username" style="margin-bottom:15px; padding:10px; border-radius:6px;">
                </div>
                <div class="form-group first">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="your-email@gmail.com" name="Email" style="margin-bottom:15px; padding:10px; border-radius:6px;">
                </div>
                <div class="form-group last mb-3">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Your Password" name="Password" style="margin-bottom:15px; padding:10px; border-radius:6px;">
                </div>
                <div class="form-group last mb-3">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" placeholder="Your Password" name="Confirm_password" style="margin-bottom:15px; padding:10px; border-radius:6px;">
                </div>


                <button type="submit" value="Register" class="btn btn-block btn-primary">Register</button>
                  <p style="margin-top:15px; text-align:center;">Already have an account ?
                    <a href="{% url 'sign_in' %}"> sign_in</a>
                  </p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>



    <script src="{% static 'login/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'login/js/popper.min.js' %}"></script>
    <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'login/js/main.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    {% if messages %}
        {% for msg in messages %}
            {% if msg.tags == "success" %}
                <script>
                    swal('{{msg}}','','success')
                </script>
            {% elif msg.tags == "warning" %}
                <script>
                    swal('{{msg}}','','warning')
                </script>
            {% elif msg.tags == "info" %}
                <script>
                    swal('{{msg}}','','info')
                </script>
            {% elif msg.tags == "error" %}
                <script>
                    swal('{{msg}}','','error')
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
  </body>

</html>