<!DOCTYPE html>
{% extends 'Dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  class="content-body" style="min-height: 788px;padding-left:10px">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">View Contact Details</h4>

                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr class="text-dark">
                              <th> Name </th>
                              <th> Email </th>
                              <th> Subject</th>
                              <th> Message </th>

                          </tr>
                        </thead>

                        <tbody>
                        {% for i in contact %}

                            <tr class="text-dark">
                                <td>{{ i.Name }}</td>
                                <td>{{ i.Email}}</td>
                                <td>{{ i.Subject}}</td>
                                <td>{{i.Message}}</td>

                                <td>

                                    <a href="{% url 'delete_contact' con_id=i.id %}" class="btn btn-outline-info btn-sm">Delete</a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>


                      </table>

                    </div>
                  </div>
                </div>
</div>

</body>
</html>
{% endblock %}