<!DOCTYPE html>
{% extends 'Dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  class="content-body" style="min-height: 788px;padding-left:10px">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">View review Details</h4>

                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr class="text-dark">
                              <th> Name </th>
                              <th> event </th>
                              <th> comment</th>
                              <th> rating </th>
                              <th> created_at</th>
                              <th> Options </th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for i in review %}

                            <tr class="text-dark">
                                <td>{{ i.Name }}</td>
                                <td>{{ i.event_type }}</td>
                                <td>{{ i.comment}}</td>
                                <td>{{i.rating}}</td>
                                <td>{{i.created_at}}</td>

                                <td>
                                    <a href="{% url 'delete_review' re_id=i.id %}" class="btn btn-outline-info btn-sm">Delete</a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>


                      </table>

                    </div>
                  </div>
                </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    {% if messages %}
        {% for msg in messages %}
            {% if msg.tags == "success" %}
                <script>
                    swal('{{msg}}','','success')
                </script>
            {% elif msg.tags == "warning" %}
                <script>
                    swal('{{msg}}','','warning')
                </script>
            {% elif msg.tags == "info" %}
                <script>
                    swal('{{msg}}','','info')
                </script>
            {% elif msg.tags == "error" %}
                <script>
                    swal('{{msg}}','','error')
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>
{% endblock %}